<%= stylesheet_link_tag 'cup', :media => "all"%>
<div class="top-body">
  <div class='cup__body'>
    <div class='cup-container'>
      <div class="plate"></div>
      <div class='cup'>
        <%= image_tag 'starbuck.png', class: 'cup-image' %>
        <div class="top">
          <div class="vapour">
            <span style="--i:1;"></span>
            <span style="--i:3;"></span>
            <span style="--i:16;"></span>
            <span style="--i:5;"></span>
            <span style="--i:13;"></span>
            <span style="--i:20;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:10;"></span>
            <span style="--i:8;"></span>
            <span style="--i:17;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:14;"></span>
            <span style="--i:2;"></span>
            <span style="--i:9;"></span>
            <span style="--i:15;"></span>
            <span style="--i:4;"></span>
            <span style="--i:19;"></span>
          </div>
          <div class="circle">
            <div class="tea"></div>
          </div>
        </div>
        <div class="handle"></div>
      </div>
    </div>
  </div>
  <h1 class="sentence1" data-aos="fade-up"
     data-aos-anchor-placement="center-center">Starbucksで</h1>
  <h1 class="sentence2" data-aos="fade-up"
     data-aos-anchor-placement="center-center">あなただけの一杯を見つけよう</h1>
</div>

<%# <script>
  const h1 = document.querySelector('.sentence1')
  h1.animate([{opacity: '0'}, {opacity: '1'}], 3000)

  const h2 = document.querySelector('.sentence2')
  h2.animate([{opacity: '0'}, {opacity: '1'}], 6000)
</script> %>
