<%= stylesheet_link_tag 'article', :media => "all"%>
<%= stylesheet_link_tag 'article-category', :media => "all"%>
<div class="container article-container">
  <div class="row">
    <div class="col-12">
      <div class="row">
      <% if @articles.present? %>
        <%= render @articles %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>