<%= stylesheet_link_tag 'article', :media => "all"%>
<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @articles.present? %>
        <%= render @articles %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>
  </div>
</div>