<%= stylesheet_link_tag 'dignose-detail', :media => "all"%>

<header id="header">
  <div class="dignose-container">
  <div class="your-result"  data-aos="fade-up"
     data-aos-anchor-placement="center-center"
     data-aos-duration="1000"
    data-aos-delay="1500">あなたの診断結果は...</div>
  
  <div class="dignose-title" data-aos="fade-up"
     data-aos-anchor-placement="center-center"
     data-aos-duration="1000"
    data-aos-delay="2500">コーヒー甘い</div>
  </div>
  
  <h1>スクロール！！</h1>
  
  <div class="scrolldown2"><span>Scroll</span></div>
</header>

<div id="container">
  <p>このエリアがスクロールすると上にかぶさります</p> 
</div> 


