<div class='dignose-body'>
  <div class="choose_box">   
    <div id="q_01" class="fit">
        <p>質問1</p>
        <ul class="flexbox fw">
          <li class="even"><%= link_to '果物系', result1_path%></li>
          <li class="odd"><%= link_to 'コーヒー系', page_path('dignose-coffee')%></li>
          <li class="odd"><%= link_to 'コーヒーなしフラペチーノ系', page_path('dignose-without-coffee')%></li>
        </ul>
    </div>
  </div>
  <%= javascript_include_tag "dignose.js" %>
</div>

