<div class='dignose-body'>
  <div class="choose_box">   
    <div id="q_01" class="fit">
        <p>質問2 コーヒー系を選んだあなたへ</p>
        <ul class="flexbox fw">
          <li class="even"><%= link_to '甘い系', coffee_sweet_path %></li>
          <li class="odd"><%= link_to '甘くない系', coffee_no_sweet_path %></li>
          <li class="odd"><%= link_to 'ミルクなし', coffee_no_milk_path %></li>
        </ul>
    </div>
  </div>
  <%= javascript_include_tag "dignose.js" %>
</div>