<% content_for(:title, t('.title'))%>
<div class="body">
  <div class="container pt-3">
    <div class="row">
      <%= render 'search_form', url: likes_posts_path %>
      <div class="col-12">
        <div class="row">
          <% if @like_posts.present? %>
            <%= render @like_posts %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
        </div>
         <%= paginate @like_posts %>
       </div>
    </div>
  </div>
</div>