.article-card-box{
    width: 100%;
    max-width: 750px;
    min-width: 400px;
    margin: 0 auto;
     .article-card{
        background-color: white;
        border-radius: 20px;
        transition: 0.3s;
        box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
        &:hover{
            box-shadow: none;
            cursor: pointer;
            .card-excerpt{
                overflow-wrap:  break-word;
            }
        }
        .article-image{
            margin: 0;
            padding: 20px 0 10px 0;
            overflow: hidden;
            text-align: center;
            .card-img-top{
                display: inline-block;
                width: 90%;
                height: 300px;
                border-radius: 20px 20px 20px 20px;
            }
        }
        .article-content{
            padding: 2rem;
            .card-category{
                font-size: 0.875rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-weight: 600;
                color: #6b82a7;
                display: block;
                text-decoration: none;
            }
            .card-title{
                margin: 1rem 0;
                color: #22447b;
            }
            .card-excerpt{
                font-size: 1rem;
                line-height: 1.5rem;
                color: #6b82a7;
                margin: 0;
                min-width: 200px;
                overflow-wrap:  break-word;
            }
        }
    }
}