.card{
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
    &:hover{
        box-shadow: none;
        cursor: pointer;
        .card-excerpt{
            overflow-wrap:  break-word;
        }
    }
    .card-body{
        padding-right: 0;
        padding-left: 0;
        .article-image{
            margin: 0;
            padding: 10px 0 10px 0;
            overflow: hidden;
            text-align: center;
            .image{
                display: inline-block;
                max-width: 100%;
                height: 300px;
                border-radius: 20px 20px 0 0;
            }
        }
        .article-content-box{
                padding: 2rem;
            .card-category{
                font-size: 0.875rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-weight: 600;
                color: rgb(114, 89, 81);
                display: block;
                text-decoration: none;
            }
            .card-title{
                margin: 1rem 0;
                color: rgb(114, 89, 81);
            }
            .card-excerpt{
                font-size: 1rem;
                line-height: 1.5rem;
                color: rgb(114, 89, 81);
                margin: 0;
                min-width: 200px;
                overflow-wrap:  break-word;
            }
        }
    }
}
.mr-mug{
    margin-right: 1rem;
    color: rgb(114, 89, 81);
}
.mr-star{
    color: rgb(241, 203, 14);
}
.mr-com{
    margin-right: 0.5rem;
}
.list-content{
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}
.article-container{
    margin-top: 60px;
    margin-bottom: 60px;
}