.article-container{
    margin-top: 50px;
    height: 100vh;
    .article-card-box{
        width: 100%;
        max-width: 750px;
        min-width: 350px;
        margin: 0 auto;
        color: rgb(114, 89, 81);
        .article-card{
            background-color: white;
            border-radius: 20px;
            transition: 0.3s;
            box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
            &:hover{
                box-shadow: none;
                cursor: pointer;
                .card-body{
                    overflow-wrap: break-word;
                }
            }
            .article-image{
                margin: 0;
                padding: 20px 0 10px 0;
                overflow: hidden;
                text-align: center;
                .card-img-top{
                    display: inline-block;
                    width: 90%;
                    height: 300px;
                    border-radius: 20px 20px 20px 20px;
                }
            }
            .article-content{
                padding: 2rem;
                color: rgb(114, 89, 81);
                .card-category{
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                    font-weight: 600;
                    color: rgb(114, 89, 81);;
                    display: block;
                    text-decoration: none;
                }
                .card-title{
                    margin: 1rem 0;
                    color: rgb(114, 89, 81);
                }
                .card-excerpt{
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: rgb(114, 89, 81);
                    margin: 0;
                    min-width: 200px;
                    overflow-wrap:  break-word;
                }
                .card-body{
                    overflow-wrap: break-word;
                }
            }
        }
    }
}
.mr-mug{
    margin-right: 1rem;
    color: rgb(114, 89, 81);
}
.mr-star{
    color: rgb(241, 203, 14);
}
.mr-com{
    margin-right: 0.5rem;
}
.list-content{
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}