.category-out {
    display: inline-block;
    margin: 0 .5em .3em 1em;
    padding: 0;
    .category-in {
        position: relative;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 1em;
        background-color: #047655;
        border-radius: 0 3px 3px 0;
        color: #fff;
        font-size: 13px;
        text-decoration: none;
        -webkit-transition: .2s;
        transition: .2s;
        &::before{
            position: absolute;
            top: 0;
            left: -15px;
            content: '';
            width: 0;
            height: 0;
            border-color: transparent #047655 transparent transparent;
            border-style: solid;
            border-width: 15px 15px 15px 0;
            -webkit-transition: .2s;
            transition: .2s;
        }
        &::after{
            position: absolute;
            top: 0;
            left: -15px;
            content: '';
            width: 0;
            height: 0;
            border-color: transparent #047655 transparent transparent;
            border-style: solid;
            border-width: 15px 15px 15px 0;
            -webkit-transition: .2s;
            transition: .2s;
        }
        &:hover{
            background-color: #555;
            color: #fff;
        }
        &:hover::before{
            border-right-color: #555;
        }
        &:hover::after{
            border-right-color: #555;
        }
      }
  }
  .category-1-out{
    background-color: green;
  }
