.dignose-body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
    min-height: 100vh;
    height: 100%;
  }
  .dignose-box{
    margin: 20px 0;
  }
  .dignose-q1{
    font-size: 2.5rem;
    display: inline-block;
    margin-bottom: 20px;
    padding: 0.25em 1em;
    border-bottom: solid 2px black;
  }
  .today-feel{
    margin-left: 3rem;
  }
  
  .choose_box a {
    color: #fff;
    display: block;
    padding: 20px 60px;
    text-align: center;
    background-color: #047655;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #047655;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
   
  .choose_box a:hover {
      background-color: transparent;
      color: #047655;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
  }
  .dignose-image{
    width: 400px;
    display: block;
    margin: 0 auto;
}
  