.footer{
    .footer-box{
        display: flex;
        justify-content: space-between;
        color:  rgb(114, 89, 81);
        .logo{
            .footer__image{
                width: 50px;
                margin-top: 14px;
            }
        }
        .footer__nav{

            .footer__ul{
                margin-top: 30px;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                list-style: none;
                .footer__li__content{
                    margin-left: 15px;
                    text-align: center;
                    text-decoration: none;
                    color: rgb(114, 89, 81);
                    justify-content: center;
                }
            }
        }
    }
    .footer__copyright{
        text-align: center;
        color: rgb(114, 89, 81);
        padding: 10px 0;
    }
}

@media(max-width: 620px){
.footer{
    .footer-box{
        .logo{
            display: none;
        }
        .footer__nav{
            font-size: 8px;
            width: 100%;
            .footer__ul{
                justify-content: center;
                margin: 0px 28px 0 10px;
                .footer__li__content{
                    margin: 0px 15px;
                }
            }
        }
    }
  }
    .footer__copyright{
        padding-top: 5px;
        font-size: 12px;  
    }  
}