// header
.page-header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .logo{
        .image{
            width: 60px;
            margin-top: 14px;
        }
    }
    .mobile-menu-icon{
        overflow: hidden;
        background-color: transparent;
        border: none;
    }
    nav{
        ul{
            display: flex;
            font-size: 1rem;
            list-style: none;
            margin-top: 34px;
            li{
                margin-left: 36px;
                .li-content{
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

@media(max-width: 620px){
  nav{
      display: none;
  }
  .mobile-menu-icon{
      overflow: visible;
      background-color: transparent;
      border: none;
      cursor: pointer;
      & > span {
          background-color: black;
          color: black;
          width: 35px;
          height: 2px;
          display: block;
          margin-bottom: 9px;
          transition: transform .7s;
          &:last-child {
              margin-bottom: 0;
          }
      }
  }
  .menu-open {
      background-color: black;
      & .mobile-menu-icon{
        & > span {
            background-color: white;
            &:nth-child(1) {
                transform: translateY(11px) rotate(-405deg);
            }
            &:nth-child(2) {
                transform: translateX(50px) scalex(0);
            }
            &:nth-child(3) {
                transform: translateY(-11px) rotate(405deg);
            }
        }
    }
  }
}