.login__width{
    margin: 0 auto;
    width: 50%;
    max-width: 400px;
    min-width: 350px;
    h1{
        text-align: center;
    }
    .form-group{
        .login__form{
            margin: 6px 0;
        }
    }
    .login__button{
        margin: 15px 0;
        .btn{
            width: 100%;
            max-width: 400px;
            min-width: 350px;
            text-align: center;
        }
    }
}