.section{
    padding-top: 100px;
}
.login-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    .header__inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .login-logo{
            .image{
                width: 60px;
            }
        }
        .header__nav{
            .header__ul{
                display: flex;
                    .header__li{
                        margin-left: 20px;
                        text-decoration: none;
                        color: black;
                    }

                    // .liquid-li{
                    //     &:hover{ 
                    //         .liquid{
                    //         top: -120px;
                    //     }
                    // }
                    // .header-liquid-li{
                    //     text-decoration: none;
                    //     position: relative;
                    //     text-align: center;
                    //     text-transform: uppercase;
                    //     display: block;
                    //     padding: 20px 50px;
                    //     width: 150px;
                    //     overflow: hidden;
                    //     background: #974218;
                    //     .liquid-span{
                    //         position: relative;
                    //         z-index: 10;
                    //         position: absolute;
                    //         left: 0;
                    //         top: -100px;
                    //         width: 200px;
                    //         height: 200px;
                    //         background-repeat: white;
                    //         box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
                    //         transition: 0.5s;
                    //     }
                    //     .liquid{
                    //         background: #4973ff;
                    //     }
                    //     .liquid:hover{
                    //         top: -300px;
                    //     }                    
                    //     .liquid::before,
                    //     .liquid::after{
                    //         content: '';
                    //         position: absolute;
                    //         width: 200px;
                    //         height: 200px;
                    //         top: 0;
                    //         left: 50%;
                    //         transform: translate(-50%, -75%);
                    //         background: #4973ff;
                    //     }
                    //     .liquid::before{
                    //         border-radius: 45%;
                    //         background: white;
                    //         animation: animate 5s linear infinite;
                    //     }
                    //     .liquid::after{
                    //         border-radius: 40%;
                    //         background: white;
                    //         animation: animate 10s linear infinite;
                    //     }
                    // }
                // }
            }
        }
    }
}
.login-mobile-menu-icon{
    display: none;
}
// @keyframes animate{
//     0%
//     {
//         transform: translate(-50%, -75%) rotate(0deg);
//     }
//     100%
//     {
//         transform: translate(-50%, -75%) rotate(360deg);
//     }
// }
@media(max-width: 620px){
  .header__nav{
    display: none;
  }
  .login-mobile-menu-icon{
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      & > span {
          background-color: black;
          color: black;
          width: 35px;
          height: 2px;
          display: block;
          margin-bottom: 9px;
          transition: transform .7s;
          &:last-child {
              margin-bottom: 0;
          }
      }
  }
  .menu-open {
      & .header-container{
        transform: translate(-110px, 40px);
        box-shadow: 0 8px 40px -10px rgba(0,0,0,0.8);
        
      }
      & .login-mobile-menu-icon{
        & > span {
            background-color: black;
            &:nth-child(1) {
                transform: translateY(11px) rotate(-405deg);
            }
            &:nth-child(2) {
                transform: translateX(50px) scalex(0);
            }
            &:nth-child(3) {
                transform: translateY(-11px) rotate(405deg);
            }
        }
    }
  }
}

.global-container{
    .header-container {
        position: relative;
        transition: all 0.5s;
        background-color: rgb(249, 255, 244);
        z-index: 15;
        // .mobile-menu__cover{
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: rgba(0, 0, 0, 0.3);
        //     opacity: 0;
        //     visibility: hidden;
        // }
    }
    .mobile-header__nav{
        position: fixed;
        right: 0;
        top: 60px;
        z-index: 1;
        .mobile-header__ul{
            padding: 0;
            perspective: 2000px;
            transform-style: preserve-3d;
            .mobile-header__li{
                transform: translate3d(0, 0, -1000px);
                transition: transform 0.3s, opacity 0.2s;
                text-decoration: none;
                color: black;
            }
        }
    }
}
