li{
    list-style: none;
}
.card{
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
    &:hover{
        box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.3);
    }
    .card-body{
        position: relative;
        .category-box{
            margin: 5px 0;
            color: black;
            .category-content{
                position: absolute;
                top: 10px;
                right: 15px;
            }
        }
        .post-information{
            margin: 5px 0 0 0;
            height: 10px;
            display: flex;
            justify-content: space-between;
            .raty-price{
                display: flex;
                justify-content: center;
                .post-evaluation{
                    img{
                        width: 12px;
                    }
                }
                .post-price{
                    font-size: 12px;
                    margin-top: 4px;
                    margin-left: 10px;
                }
            }
        }
        .post-title{
            margin-top: 20px;
            font-size: 20px;
            .post-title-content{
                margin-left: 1rem;
            }
        }
        .created-time{
            font-size: 6px;
            margin: 0px;
        }
        .post-user-information{
            margin-bottom: 5px;
            margin-top: 10px;

            .post-one_point{
                color: black;
                .one_point{
                    margin-right: 5px;
                }
            }
            .post-price{
                color: black;
                margin: 10px 0;
                .price{
                    margin-right: 5px;
                }
            }
        } 
    }
}

.title-information-box{
    display: flex;
    justify-content: space-between;
}
.user-information-like{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:800px) {
    .card{
        .title-information-box{
            .d-inline{
                margin-top: 10px;
            }
            .post-information{
                margin-top: 40px;
            }
        }
        .show-content{
            margin-top: 30px;
            display: flex;
            
        }
    }
    .user-information-like{
        position: absolute;
        bottom: 0;
        right: 6px;
        display: flex;
        justify-content: space-between;
    }
}